body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  margin: 0;
  text-align: center;
}

header h1 {
  padding: 30px;
  color: #ad040d;
}

.profiles-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.profile {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  object-fit: cover;
  display: block;
  margin: 0 auto 10px auto;
  transition: 0.2s;
}

img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}
